<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="./img/weather-icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="main-content">
<header>
    {{>header}}
</header>
    <h3>WeatherSearch</h3>
    <p>Uses various APIs to deliver the weather information about specified location</p>
    <h3>WeatherNow</h3>
    <p>Uses users location to deliver weather information regarding users current location</p>
</div>
<footer>{{>footer}}</footer>
</body>
</html>