<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" href="./img/weather-icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
<div class="main-content">
<header>
    {{>header}}
</header>
<div class="weatherBox">
    <h2>Location: Toronto</h2>
    <h2>Current Temperature: 20°C</h2>
</div>
</div>
    <footer>{{>footer}}</footer>

</body>
</html>